// font
$font-family: verdana, arial, helvetica, sans-serif
$font-size: 13px
$line-height: 18px
$letter-spacing: .354em

// color
$bg-color: #fff
$font-color: #333
$primary: #141
$primary-contrast: #bfb
$secondary: #282
$border-color: #ddd
$dark-border: #888

$notice-bg: #ffb
$notice-color: #882

$line-item-highlight: #8f8

// effect
$box-shadow: .176em .176em .354em 0 rgba(0,0,0,.75)
$transition: ease-in-out .2s
$text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa,0 0 102px #0fa, 0 0 151px #0fa
