@import variables

.carts
  margin-top: 2em
  article
    background: $bg-color
    border-radius: .5em
    padding: 1.414em
    @media (min-width: 30em)
      margin: 0

    h2
      margin-top: 0
    table
      border-collapse: collapse
    td
      padding: 0.5em
      &.quantity
        white-space: nowrap
      &.price
        font-weight: bold
        text-align: right

    td.update-item
      a
        display: flex
        text-decoration: none
        border: 1px solid $dark-border
        border-radius: 30px
        padding: 0.5em 1em
        color: black
        align-content: center
        align-items: center
        &:hover
          background-color: lighten($font-color, 70%)
          transition: $transition

        img
          margin-right: .5rem

tfoot
  td, th.price
    font-weight: bold
    padding-top: 1em

  th
    text-align: right

  td.price
    border-top: solid thin #000

.cart-actions
  display: flex
  gap: .5em
  flex-direction: row-reverse

  input[type="submit"]
    margin-top: 1rem
    background-color: $notice-color
    border-radius: 0.354em
    border: solid thin $notice-color
    color: $bg-color
    font-size: 1em
    padding: 0.5rem 1em
    &:hover
      background-color: $secondary
      border: solid thin $secondary
      color: $bg-color
      transition: $transition

  input[type="submit"].checkout
    background-color: $primary-contrast
    border: solid thin $primary-contrast
    color: black
    font-weight: bold
    &:hover
      background-color: #9d9

