@import variables

.carts
  margin-top: 2em
  article
    background: $bg-color
    border-radius: .5em
    padding: 1.414em
    @media (min-width: 30em)
      margin: 0

    h2
      margin-top: 0
    table
      border-collapse: collapse
    td
      padding: 0.5em
      &.quantity
        white-space: nowrap
      &.price
        font-weight: bold
        text-align: right

    td.update-item
      display: flex
      flex-direction: column
      width: max-content
      a
        text-decoration: none
        padding: 0.1rem .2rem
        font-size: smaller
        color: $dark-border
        &:hover
          transition: all 0.1s ease-in-out
          border: 2px solid $dark-border
          border-radius: 5px

        img
          margin-right: .5rem

tfoot
  td, th.price
    font-weight: bold
    padding-top: 1em

  th
    text-align: right

  td.price
    border-top: solid thin #000

.cart-actions
  display: flex
  gap: 1em
  flex-direction: row-reverse

  input[type="submit"]
    margin-top: 1rem
    background-color: #bbb
    border: solid thin #bbb
    border-radius: 0.354em
    color: $bg-color
    font-size: 1em
    padding: 0.5rem 1em
    &:hover
      border: solid 1px $dark-border
      transition: $transition

  input[type="submit"].checkout
    background-color: $primary-contrast
    border: solid thin $primary-contrast
    color: black
    font-weight: bold
    &:hover
      transition: $transition
      border: solid 1px $dark-border
